@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* app/globals.css (añadir al final) */

/* Clase para forzar el color del texto en inputs conflictivos */
.force-input-black {
  /* La directiva !important asegura la máxima prioridad para sobrescribir librerías */
  color: #1f2937 !important; /* Tailwind gray-800 o black */
  -webkit-text-fill-color: #1f2937 !important; /* Para asegurar que el color funcione en iOS/Safari */
}